.BodyConsulting
  .PageHeader
  .Masthead .text
    position: relative
    z-index: 10

  .Masthead
    background: gray.void
    color: gray.rain
    overflow: hidden
    position: relative

    .text
      position: absolute
      width: 80%

    .Geometry
      position: relative
      top: -60px
      z-index: 1

    +above(viewport.sm)
      .Geometry
        top: 0

    +above(viewport.md)
      & > .Section
        display: flex

      .text
        position: initial
