.Masthead
  background-color: gray.fog
  background-position: 50% 50%
  background-repeat: no-repeat
  background-size: cover
  min-height: 500px
  position: relative

  h1
    padding: 0

  .text
    padding-bottom: space.xl
    padding-top: space.xl

  .BodyPGottaBeGoodTour &
    background-image: url(fingerprint('assets/images/p/ggw.jpg'))
    background-position: 5% 0 

  .BodyPMitGlobalStartupLabs &
    background-image: url(fingerprint('assets/images/p/mit.jpg'))
    background-position: 25% 50%

  .BodyPGateless &
    background-image: url(fingerprint('assets/images/p/gateless.jpg'))
    background-position: 10% 50%

  .BodyPUltraworking &
    background-image: url(fingerprint('assets/images/p/uw.jpg'))
