.PageFooter
  // Smaller text style
  background: gray.fog
  color: color.text-light
  font-size: font.sm
  font-weight: normal
  padding: space.xl 0
  position: relative

  .img
    background: gray.silver
    border-radius: 50px
    height: 100px
    margin-bottom: space.line
    overflow: hidden
    width: 100px

  .text
    margin: 0

  +above(viewport.sm)
    .img
      float: left
      margin: space.xs space.md 0 0

    .text
      overflow: hidden

  .wrap
    +above(viewport.md)
      col(4/5)

    +above(viewport.lg)
      col(3/4)

    +above(viewport.xl)
      col(2/3)
