.Prose
  margin: 0 auto
  padding: space.xl 0

  // Layout
  +above(viewport.sm)
    padding-left: space.lg
    padding-right: space.lg
    max-width: 750px

  // Elements
  header
    margin-bottom: space.line
    text-align: center

    h1, h2
      margin: 0
      padding: 0

    h2
      font-style: italic
      font-size: font.lg

  +above(viewport.sm)
    .lead
      font-size: font.md * 1.125
      line-height: space.line * 1.125

  > ul,
  > ol
    margin: space.md 0

    li
      margin-top: space.sm
      &:first-child
        margin-top: 0

  .testimonial
    border-left: space.xs solid gray.fog
    color: gray.steel
    font-style: italic
    margin: space.line 0
    padding: space.xs space.sm 0

    blockquote
      margin: 0

    cite
      display: block
      font-size: font.sm
      margin-top: space.xxs
      text-align: right

  iframe
    margin-top: space.line

  a:hover
    text-decoration: underline

  footer
    border-top: 1px solid #ddd
    font-size: font.sm
    margin-top: space.line
    padding-top: space.line

    ul
      naked-list()

    .cta
      margin-top: space.line - space.xs

    .Button
      margin: space.xs space.xs 0 0
