---
title: Ultraworking / Kai Zau
description: A sanctuary for people who don't want "work life balance."
bodyClass: BodyPUltraworking
headerClass: dark
---

extends ../../_shared/layout.pug

block content
  .Masthead
    include ../../_shared/header.pug

  .Section
    article.Prose(role='article')
      header
        h1 Are you Ultraworking?
        h2 Building a home for the ambitious and analytical

      :md
        Do you remember the most recent "golden age" of your life?

        Those blessed times where everything just flowed, and you made huge
        strides, both personally and professionally? Maybe you're even in one
        now.

        I've noticed that all of my best moments have had one thing in common —
        the company of a close cadre of engaged, mastery-seeking peers. We
        pushed one another to become better, shared challenges and insights,
        and held each other accountable. Out of these groups came deep
        friendships, massive opportunities, and reels of treasured memories.

        Yet despite all the advantages, such camaraderie seems to be the
        exception rather than the norm.

        Why is that?

        Most often, I find it's because we leave such things entirely to chance.

        It's unfashionable to reach out and say, "Hey, let's all get together
        and help each other thrive." It can feel luxurious to focus on fluffy,
        social matters when there's important work to do.  And when you and
        your friends are running companies, training for competitions, raising
        families, and finishing advanced degrees (sometimes all at once), even
        those who recognize the imporatance can't always find the time.

        I've seen this pattern again and again — in my own life and among my
        most ambitious and analytical of friends. Yet when conditions are ripe
        and the right people come together, something indisputably _magical_
        happens.

        This is why [Sebastian](http://sebastianmarshall.com/) and I have
        founded [Ultraworking](http://www.ultraworking.com).

        **Ultraworking, put mildly, is a sanctuary for unrepentant workaholics
        and overachievers.**

        It's for those blessed and cursed with the inability to turn off their
        ambition, who often find themselves sacrificing mainstream comforts in
        pursuit of audacious goals. Elite athletes, professionals,
        entrepreneurs, engineers, leaders, researchers, artists — our people
        seek work-life integration instead of work-life balance. Most
        importantly, we're for those who prioritize empiricism over theory,
        action over feelings, and results over idealism.

        At its core, our business is in training personal and professional
        _effectiveness_. We provide:

        - **Tools and technology.** We're developing a suite of apps to focus
        your attention, guide your actions, and track your progress over time.

        - **Structured workshops.** We teach you how to get ahead of schedule,
          cultivate mental toughness, improve project planning, etc.

        - **The Adherence League.** We organize online and in-person events, as
        well as a private forum where other high-performers keep you on target.

        We're rigorously selective about who we train. Even the most driven,
        accomplished individual _in the wrong phase of their life_ will be
        unlikely to get much out of our methodology.

        So Ultraworking is not for everyone. However...

        If you can demonstrate a track record of achievement, have specific
        goals that we can help with, and are willing to give back to the
        Ultraworking community...  then please don't hesitate to reach out.
        You _might_ have just found new home.

      footer
        ul
          li
            a(href='http://www.ultraworking.com') Visit Ultraworking.com

        include ../../_shared/p-cta.pug
