.Logo
  height: 50px
  margin: 0
  opacity: 1
  padding: 0
  transition: opacity .3s
  width: 50px

  &:hover
    opacity: .8

  a 
    hide-text()
    background: url(fingerprint('assets/images/kz.png'))
    background-size: 50px
    display: block
    height: 50px

