---
title: Gateless / Kai Zau
description: Core principles from Kai's book, Gateless.
---

extends /_shared/layout.pug

block content
  .Masthead
    include /_shared/header.pug

  .Section
    article.Prose(role='article')
      header
        h1 The Four Currencies Model
        h2 Core principles from my book <em>Gateless</em>

      .testimonial
        blockquote.
          Lots of insightful writing. Clear discussion on abstract concepts
          like meaning and motivation. It was very illuminating for me, really
          helped me to take a look at why I do what I do.
        cite — Huan, Amazon.com reviewer

      :markdown
        _"Hey, do you want to write a book about this?"_

        [Sebastian](http://sebastianmarshall.com/) and I had spent the last two
        hours discussing life strategy to the backdrop of a trendy Taiwanese
        cafe. And we were just getting started.

        In the decade after dropping out of university and charting my own
        career path, I had built up a unique personal framework for measuring
        net worth. This went well beyond money — taking into account many
        intangible factors that influence our lives.

        Over our many conversations, we dubbed this the _Four Currencies_
        model:

        1. **Capacity.** The ability to produce deliberate results.
          Effectiveness, domain skills, and raw potential.

        2. **Network.** The reach of your relationships and their inclination
          to help you reach your goals.

        3. **Signal.** Reputation and the snap judgements other people make
          about you.

        4. **Assets.** Cash, tools, investments, operationalized businesses,
          and other tangible resources.

        _Gateless_ covers these topics in detail, combining perspectives from
        two very different authors and personalities. Thanks to Sebastian's
        unique writing voice, these ideas came together with rich stories from
        history, philosophy, culture, and science.

        This is the book I wish I had when I first stepped onto my own
        path, and I hope that it helps many others as they navigate their own.

      footer
        ul
          li
            a(href='https://www.dropbox.com/s/z49csij5v72lpqa/Gateless%20Interviews.pdf?dl=1') Download the Gateless Interviews
          li
            a(href='http://www.amazon.com/Gateless-Sebastian-Marshall-ebook/dp/B00QANG7GM') Buy Gateless on Amazon.com
          li
            a(href='http://www.gatelessbook.com') Visit GatelessBook.com

        include /_shared/p-cta.pug
