---
title: The Gotta Be Good Tour / Kai Zau
description: The annual nonprofit university tour with GiveGetWin.
headerClass: dark dark-overlay
---

extends /_shared/layout.pug

block content
  .Masthead
    include /_shared/header.pug

  .Section
    article.Prose(role='article')
      header
        h1 The Gotta Be Good Tour
        h2 Traveling with the annual nonprofit university tour

      .testimonial
        blockquote.
          The GiveGetWin event has, literally, the highest return on my time
          invested of anything I've ever done in my adult life. What an amazing
          experience.
        cite — VJ Jain, Gotta Be Good Tour @ San Francisco

      iframe(width="100%" height="375" src="http://www.youtube.com/embed/NfKE2JK9zVU?controls=2&fs=0&modestbranding=1&rel=0" frameborder="0")

      :markdown
        **Update - 29 Apr 2016:** Added my talk and photos from the 2015 tour below.

        Despite all the technology that exists to connect us, there is
        something about face-to-face conversations that remains unmatched.
        GiveGetWin's annual [Gotta Be Good Tour](http://tour.givegetwin.com) is
        built around this idea, and I'm honored to have been a guest speaker in
        2014.

        On the surface, the tour was simply a way for the nonprofit to recruit
        engaged volunteers across North American university campuses. Stepping
        into those auditoriums, however, revealed a rare gathering of students,
        professionals, entrepreneurs, academics, and community members. Despite
        many diverse ages and backgrounds, everyone I met shared a love for
        learning, personal growth, and making an impact.

        We spoke in front of over a dozen audiences over six weeks, and I had
        some of the most interesting conversations of my life as a result of
        it. I was also greatly impressed by the magnitude of what the volunteer
        team was able to accomplish with zero budget, in a short amount of
        time.

        A big thank-you to GiveGetWin for the invitation to tell my story. If
        you're a student, professor, or just generally interested in
        effectiveness and making a difference, I recommend you give them a
        call.

      iframe(width="100%" height="375" src="http://www.youtube.com/embed/7bwkTebIbC8?controls=2&autohide=1&fs=0&modestbranding=1&rel=0" frameborder="0")

      footer
        ul
          li
            a(href='https://kz.exposure.co/givegetwin-tour-2014') View the 2014 photos
          li
            a(href='https://givegetwin.exposure.co/') View the 2015 photos
          li
            a(href='https://www.youtube.com/channel/UCZ-K0l5qrkQXvggWTiMkI4A') Watch videos of the talks

        include /_shared/p-cta.pug
