---
title: MIT Global Startup Labs / Kai Zau
description: On the ground with MIT Global Startup Labs.
headerClass: dark dark-overlay
---

extends /_shared/layout.pug

block content
  .Masthead
    include /_shared/header.pug

  .Section
    article.Prose(role='article')
      header
        h1 Engineering Entrepreneurship
        h2 On the ground with MIT Global Startup Labs

      .testimonial
        blockquote.
          I appreaciated so much that they focused on customer development from
          day one. They made us go out and start selling to people so we didn't
          just create "invisible apps" in our heads... That was great — it made
          it real for me.
        cite.
          — Mbe Khumalo, Founder of <a href='http://philanisa.wix.com/mining'>Philani SA</a>

      :markdown
        I've been lucky enough to have had a multidisciplinary career. From
        skunkworks at a Fortune 500, to product design at various early-stage
        startups, I've seen how the technology sausage gets made.

        When Bryan Hernandez, Entrepreneurship Lead of the 2014 MIT South
        Africa program reached out for advice on designing parts of the
        curriculum, he got more than he bargained for. I happened to be in
        Africa at the time, and a month later, we were both on the ground,
        helping guide local entrepreneurs towards their first paying customers.

        It was an incredible time. From teaching introverted software engineers
        how to make cold calls, to organizing "family dinners" between founders
        and investors, I walked away with a permanent respect and affinity for
        the people there.

        Out of the 40 initial participants, the program gradated eight
        companies in markets ranging from mining health, to mobile money, to
        small business point-of-sale systems.

        We worked closely with many great people and organizations whose
        mission is to make South Africa a friendly place for business —
        [Tshimologong Precinct](https://tshimologong.wordpress.com/),
        [Sw7](http://sw7.co/), [Startup Cherry](http://www.startupcherry.com/),
        [JoziHub](http://jozihub.com/), and [SeedEngine](http://www.seedengine.co.za/),
        to name a few. If you're interested in technology and startups in
        Johannesburg or Cape Town, those are the people to get in touch with.

        As for myself, I will definitely be back to SA soon. For the beautiful
        weather, for the delicious
        [braai](https://en.wikipedia.org/wiki/Regional_variations_of_barbecue#South_Africa),
        and for the budding startup community that welcomed us with open arms.

      footer
        ul
          li
            a(href='https://kz.exposure.co/mit-global-startup-labs-2014') View the photo journal
          li
            a(href='http://misti.mit.edu/mit-africa-initiative') Learn about MIT-AFRICA

        include /_shared/p-cta.pug
