footer.PageFooter(role='contentinfo')
  .Section
    .wrap
      .img
        img(src='assets/images/kai.jpg')
      p.text.
        Kai Zau is a programmer. He cofounded <a
        href='/p/ultraworking'>Ultraworking</a>, created the popular open
        source tool <a href='https://github.com/FontCustom/fontcustom'>Font
        Custom</a>, and has <a href='/consulting'>consulted</a> for a variety
        of companies on matters of code and design. He is an occasional author
        of <a href='/p/gateless'>books</a> and speaker at <a
        href='/p/gotta-be-good-tour'>events</a>.
