doctype html
html.no-js
  include /_shared/head.pug

  //- TODO Add body class
  body
    .Page
      .PageMain
        .PageMainInner
          .PageContent
            block content

      include /_shared/footer.pug

    block foot

    if (useJquery)
      if (environment === 'development')
        script(src='assets/javascripts/jquery.js')
      else
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    block javascripts
