- nav = [{name: 'Personal', path: '/index.pug'}, {name: 'Professional', path: '/consulting/index.pug'}, {name: 'Contact', path: '/contact/index.pug'}]
nav.Nav(role='navigation')
  ul
    each page in nav
      li
        if (navName !== page.name)
          a(href=page.path)= page.name
        else
          span.active= page.name
