---
title: 404 / Kai Zau
description: This is an error page. If you're reading this, something bad must have happened.
bodyClass: Body404
---

extends ./_shared/layout.pug

block content
  include ./_shared/header.pug

  main.Section.with-center-alignment.with-vertical-padding(role='main')
    h1(style="font-size:120px;line-height:1;") 😢
    h1(style="font-size:60px;line-height:1") That page couldn't be found.
